.player-containter-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: #eef1ef;
    border-radius: 20px;
    padding: 10px;
}

.player-checkbox-container {
    display: flex;
}

.player-checkbox-container label{
    padding-right: 10px;
}