.app-body-new {
  padding: 0 30px;
}

.drawer-container {
  left: 30px;
  right: 30px;
  position: absolute;
  transition: bottom 100ms ease-in-out, opacity 500ms;
  opacity: 0;
}

.drawer-container.open {
  opacity: 1;
}

.drawer-header {
  cursor: pointer;
  display: inline;
  background-color: #eef1ef;
  padding: 5px 10px 0 5px;
}
