.app-body-new {
  padding: 0 30px;
}

.drawer-container {
  left: 30px;
  right: 30px;
  position: absolute;
  bottom: -300px;
  transition: 100ms ease-in-out;
  background-color: blue;
}

.drawer-container.open {
  bottom: 0;
}

.drawer-content {
  height: 300px;
}
