.player-main {
    background-color: #ccc;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.react-audio-player{
    width: 90%;
}
.slidecontainer {
    min-height: 150px;
}
.slidecontainer input {
    margin-top: 65px;
     transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
  }