.video-player-container{
    margin-right: 30px;
}

.video-player-container .app-card{
    margin-top: 20px;
}

.playlist-form {
    text-align: center;
}

.playlist-item {
    display: flex;
    border-bottom: 2px solid #cccccc;
    background-color: #fff;
}

.playlist-item.active {
    background-color: rgb(125, 206, 235);
}

.playlist-item-info {
    flex: 1 0 auto;
    padding-left: 5px;
}

.playlist-item-info:hover {
    background-color: #ddd;
}

.playlist-item-remove {
    width: 25px;
    color: red;
    text-align: center
}

.playlist-item-remove:hover {
    background-color: #ddd;
    cursor: pointer;
}

.video-player-playlist {
    max-height: 300px;
    overflow: auto;
}
