#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  /* padding: 20px 0 30px;
  min-width: 1280px; */
  /* background-color: #7d98a1; */
  position: relative;
  max-height: 100%;
  overflow: hidden;
}
.app-content {
  height: 100%;
  overflow: auto;
}
header{
    background-color: #111111;
    height: 60px;
}
.app-header{
  padding-right: 20px;
  font-size: 30px;
  color: white;
}
.app-footer{
  background-color: #111111;
  height: 100px;
  font-size: 10px;
  color: white;
}



/* Card Styles */
.app-card {
  background-color: #eef1ef;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.app-card-header{
  display: flex;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.app-card-header.highlight{
  min-height: 75px;
}

.player-background-inner{
  background-image: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 60px;
}

.rain.player-background{
  background: url(./static/rain-pause.gif);
}
.rain.player-background-inner.play{
  background-image: url(./static/rain.gif);
}

.space.player-background {
  background-image: url(./static/space-pause.gif);
  background-position: center;
  background-size: cover;
}
.space.player-background-inner.play {
  background-image: url(./static/space.gif);
  background-position: center;
  background-size: cover;
}

.app-card-header.highlight{
  color: #fff;
}

.app-card-title {
  font-size: 20px;
  flex: 1 0 auto;
  display: flex;
}
.app-card-close {
  cursor: pointer;
}
