#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  padding: 20px 0 30px;
  background-color: #7d98a1;
}
.app-body > * {
  flex: 0 1 40%;
}

.app-header{
  background-color: #111111;
  height: 60px;
  font-size: 30px;
  color: white;
}
.app-footer{
  background-color: #111111;
  height: 100px;
  font-size: 10px;
  color: white;
}



/* Card Styles */

.app-card {
  background-color: #eef1ef;
  border: solid 2px #111111;
  border-radius: 20px;
  margin-bottom: 10px;
}

.app-card.hide {
  display: none;
}

.app-card-header{
  display: flex;
  padding: 0 10px;
  background-color: #7d98a1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 20px;
}
.app-card-title {
  flex: 1 0 auto;
}
.app-card-close {
  cursor: pointer;
}
